$ = vue-image-painter;
.{$} {
  @keyframes drawer {
    // 1st step: drawing borders with a pencil
    0% {
      filter: brightness(10) contrast(10) grayscale(1);
      opacity: 0;
    }

    5% {
      filter: brightness(5) contrast(10) grayscale(1);
      opacity: 0.5;
    }

    30% {
      filter: brightness(3) contrast(10) grayscale(1);
      opacity: 1;
    }

    // 2nd step: define better outlines and shades with a pencil
    50% {
      filter: brightness(2) contrast(2) grayscale(1);
    }

    // 3nd step: give it some basic, very vanish colors
    75% {
      filter: brightness(1.5) contrast(1) grayscale(0.4) saturate(0.8);
    }

    // 4nd step: complete the picture with all its colors (a bit more bright and alive)
    100% {
      filter: brightness(1.05) contrast(1) grayscale(0) saturate(1.05);
    }
  }

  .drawer {
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-name: drawer;
  }
}
